.mwt-search {

  .empty {
    padding: 20px;
    text-align: center;
    font-style: italic;
    color: white;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAKUlEQVQYV2NsaGj4zwAFnz9/ZmCECYA4vLy8EAEYB6SQsbi4+D9IBgYA9GQS2mO1bwwAAAAASUVORK5CYII=);
  }

}